@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");
body {
  padding: 0;
  margin: 0;
  font-family: Raleway, sans-serif;
}
.banner img {
  width: -moz-available;
  opacity: 0.4;
}
.appcontent .app {
  border: 0.3px solid #26c6da;
  margin-bottom: 10px;
  border-radius: 5px;
  height: 400px;
}
.appcontent .medicine{
  height: 700px;
}

.med_table th, td, .stock_medicine_table table th, td{
text-align: center;
}
.src_stck{
  width: 300px;
}
#staff_list_show, #medicine_list_show, #stock_medicinde{
  overflow-y: scroll;
  height: 250px;
}
#medicine_list_show{  
  height: 520px;
}
.h_3{
  padding: 3px 5px;
  border-bottom:1px solid #0bd84f;
  border-right:1px solid #e4850a;
  border-left:1px solid #3d0a4d;
  border-radius: 5px;
}
.input_width{
  width:340px !important;
}